{% for acl_entry in acl_list %}
access-list {{ nat_acl }} permit {{ acl_entry.network }} {{ acl_entry.wildcard }}
{% endfor %}
ip nat inside source list {{ nat_acl }} interface {{ nat_interface }} vrf {{ vrf_name }} overload
int range {{ inside_interfaces }}
 ip nat inside
int {{ outside_interface }}
 ip nat outside
