{% for acl in acl_list %}
access-list {{ nat_acl }} permit {{ acl.network }} {{ acl.wildcard }}
{% endfor %}
ip nat inside source list {{ nat_acl }} interface {{ outside_interface }} vrf {{ vrf_name }} overload
{% set inside_ifaces = inside_interfaces.split(', ') %}
{% for interface in inside_ifaces %}
interface {{ interface }}
 ip nat inside
{% endfor %}
interface {{ outside_interface }}
 ip nat outside

